* {
    box-sizing: border-box;
    margin: 0;
    
}
.main {
     background-image: url('17973908.jpg');
     background-repeat: no-repeat;
     background-size: 1700px 607px;
     width: 1345px;
     height:607px;
    
}
.buttons-log {
   border: 0;
   border-radius: 45px;
   -webkit-border-radius: 45px;
   -moz-border-radius: 45px;
   -ms-border-radius: 45px;
   -o-border-radius: 45px;
   background-color: rgba(154, 221, 230, 0.842);
   margin: 0 10px;
   width: 150px;
    height: 50px;
    font-size: 21px;
    font-weight:600;
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer; 
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}
.base{
    position: relative;
    left: 860px;
    top: 245px;
    width: fit-content;
}
.buttons::before{
    content: "";
    position: absolute;
    background-color: rgba(154, 221, 230, 0.842);
    width: 3px;
    height:70px;
    left:170px;
}
.join-as{
    position: relative;
    bottom: 120px;
    left: 150px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size:27px;
    line-height: 25px;  
    width: fit-content;
}
.AS{
    position: relative;
    top: 40px;
    right: 45px;
    font-size: 20px;
    font-size: 16px;
    font-weight: 800;
    text-transform: capitalize;
}
.join{
    position: relative;
    top: 17px;
    right: 5px;
    text-transform: capitalize;
}
.sentence{
    position: relative;
    top: 35px;
    right: 18px;
    width: 426px;
    font-size:22px;
    font-weight:900;
    opacity: .6;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: capitalize;
    background-color: rgba(67, 111, 153, 0.082);
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    -ms-border-radius: 45px;
    -o-border-radius: 45px;
    animation-name: color_;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
   
}
.ai{
    width: 500px;
}
.buttons-log:hover{
    background-color: rgba(27, 143, 143, 0.144);
}

@keyframes color_ {
    0%{
        color:rgba(67, 111, 153, 0);
        background-color: transparent;
    }
    100%
    {
        color: rgba(46, 67, 88, 0.836);
        background-color: rgba(76, 88, 100, 0.082);
    }
}
.bi-arrow-down-circle{
  position: relative;
  left: 630px;
  top: 440px;
  animation-name: arrow;
  animation-duration: 1.3s;
  border-radius: 50%;
  animation-iteration-count:infinite;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px double white;
 animation-timing-function: ease-out;
 background-color:rgba(153, 205, 214, 0.692);
}
@keyframes arrow {
    0%{
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
       -o-transform: translateY(0);
}
100%{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}

}
.bi-arrow-down-circle:hover{
cursor: pointer;
}
.cont{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-areas: 
     "head head head head head head head head head head" 
    ". . . . . . . . . ."
    "cap cap cap cap cap cap cap cap cap cap"
    ". . . . . . . . . ."
    ". . . f f f f . . . "
    ". . . . . . . . . ."
    "ai ai ai ai ai img img img img img " ;
    grid-template-rows: 50px 80px 300px 70px 30px 160px 700px ;
    position: relative;
   
}
#header{
    display: none;
    transition:  all 1s ease-in-out;
    -webkit-transition:  all 1s ease-in-out;
    -moz-transition:  all 1s ease-in-out;
    -ms-transition:  all 1s ease-in-out;
    -o-transition:  all 1s ease-in-out;
}
#header.show{
    grid-area: head;
    display: flex;
    justify-content: end;
    align-items: center;
    box-shadow:  0 5px 10px rgba(97, 97, 97, 0.24);
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: rgb(183, 222, 228);
    transition: all 2s ;
    -webkit-transition: all 2s ;
    -moz-transition: all 2s ;
    -ms-transition: all 2s ;
    -o-transition: all 2s ;
}
.caption{
    grid-area: cap;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Lexend Deca', sans-serif;
   background-size: 100% 280px;
   background-image: url('33002518_rie9.jpg');
   background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature{
  grid-area: f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.feature-{
   
    width:150px;
    height: 50px;
    border-radius: 30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(153, 201, 206, 0.171); ;
}
.image{
   grid-area: img;
  width: 600px;
  position: relative;
  bottom: 100px;
  opacity: .8;
}
.feat{
   grid-area: ai;
   display: grid;
   grid-template-columns: repeat(2,264px);
   grid-template-rows: 80px 80px;
   row-gap: 10px;
   column-gap: 45px;
   position: relative;
   top: 35px;
   margin-left: 30px;
   font-weight: 550;
   font-size: 18px;
   border-radius: 30px 0 30px 0;
   font-family: 'Lexend Deca', sans-serif;
   height: 300px;
   border: 1px solid rgba(201, 201, 201, 0.521);
   -webkit-border-radius: 30px 0 30px 0;
   -moz-border-radius: 30px 0 30px 0;
   -ms-border-radius: 30px 0 30px 0;
   -o-border-radius: 30px 0 30px 0;
   background-color:rgba(206, 206, 206, 0.075) ;
}
.benefits{
  background-color: rgba(175, 173, 173, 0.048);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  position: relative;
  top: 65px;
  left: 15px;
  transition: .5s all;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
}
.bi-pin-angle-fill{
    position: absolute;
    left: 50%;
    color: rgba(134, 228, 240, 0.651);
}
.benefits:hover{
    background-color:rgba(111, 161, 170, 0.075) ;
}
.button-header{
    border: 0;
    background-color: rgba(255, 255, 255, 0.24);
    margin: 0 5px;
    width:125px;
    height: 30px;
    font-size: 21px;
    font-weight:600;
    font-family: 'Red Hat Display', sans-serif;
    cursor: pointer;
    position: relative;
    right: 50px;
    transition:.5s all ;
    -webkit-transition:.5s all;
    -moz-transition:.5s all;
    -ms-transition:.5s all;
    -o-transition:.5s all;
}
.button-h{
   
    display: flex;
    align-items: center;
   
}
.j-now{
  position: relative;
  right:56px;
 text-transform: capitalize;
  font-weight:600;
  font-family: 'Red Hat Display', sans-serif;
  opacity: .8;

    
}
.button-header:hover{
    background-color: rgba(139, 177, 177, 0.144);
}
ul li {
    display:inline-block;
    list-style-type: none;
   

}
.list{
    display: flex;
    align-items: center;
    position: relative;
    right: 130px;

  
    
}
.list-h{
    display: flex;
    justify-content: space-between;
    width: 350px;
    gap: 20px;

}

.feature-h,.faq,.home{
    font-size: 18px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

