
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}

.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
  color: #111111;
}
.u-shading,
.u-overlap.u-overlap-contrast .u-header {
  color: #ffffff;
}
.u-body {
  color: #111111;
  background-color: #ffffff;
  --effect-scale: 1.1;
}
/*end-variables color*/
/*begin-variables font*/
.u-custom-font.u-text-font {
  font-family: 'Open Sans',sans-serif !important;
}
.u-custom-font.u-heading-font {
  font-family: Poppins !important;
}

.u-palette-1-base,
.u-body.u-palette-1-base,
section.u-palette-1-base:before,
.u-palette-1-base > .u-audio-main-layout-wrapper:before,
.u-palette-1-base > .u-container-layout:before,
.u-palette-1-base > .u-inner-container-layout:before,
.u-palette-1-base.u-sidenav:before,
.u-container-layout.u-container-layout.u-palette-1-base:before,
.u-table-alt-palette-1-base tr:nth-child(even) {
  color: #ffffff;
  background: rgba(137, 186, 22, 0.9);
}

    h1.u-title
        {
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h2.u-subtitle
        {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h1:not(.u-title)
        {
        font-size: 6rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        
        font-family: Poppins;
        font-weight: 700;
        }
        
        h3
        {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h4
        {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        h5
        {
        font-size: 1.25rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
       
        border: top right bottom left;
       
        animation: [object Object];
        }
        h6
        {
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.2;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p.u-large-text
        {
        font-size: 1.25rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p.u-small-text
        {
        font-size: 0.875rem;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        p:not(.u-text-variant)
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .u-btn
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        blockquote
        {
        font-style: italic;
        padding-left: 20px;
        border-width: 4px;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .u-metadata
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        ul:not(.u-unstyled)
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        ol
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .u-post-content
        {
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .u-input
        {
        border-width: 1px;
        border: top right bottom left;
        }
        /** common-rules **/

        /** publish-rules **/
        /*begin-media rules*/
        @media (max-width: 767px) {
        h1.u-title
        {
        font-size: 3.75rem;
        }
        }
        @media (max-width: 575px) {
        h1.u-title
        {
        font-size: 3rem;
        }
        }
        @media (max-width: 575px) {
        h2.u-subtitle
        {
        font-size: 1.5rem;
        }
        }
        @media (max-width: 575px) {
        h1:not(.u-title)
        {
        font-size: 2.25rem;
        }
        }
        
        
        @media (max-width: 575px) {
        h3
        {
        font-size: 1.5rem;
        }
        }
        /*end-media rules*/
        /** publish-rules **/

        

        /** cms-rules **/
        /*begin-responsive rules*/
        .u-sm h1.u-title
        {
        font-size: 3.75rem;
        }
        .u-xs h1.u-title
        {
        font-size: 3rem;
        }
        .u-xs h2.u-subtitle
        {
        font-size: 1.5rem;
        }
        .u-xs h1:not(.u-title)
        {
        font-size: 2.25rem;
        }
        .u-md h2:not(.u-subtitle)
        {
        font-size: 3rem;
        line-height: 1.1;
        
        font-weight: 700;
        }
        
        .u-xs h3
        {
        font-size: 1.5rem;
        }
        
       
        
 .u-header {
  background-image: none;
}

.u-header .u-sheet-1 {
  min-height: 80px;
}

.u-header .u-image-1 {
  width: 64px;
  height: 32px;
  margin: 22px auto 0 0;
}

.u-header .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-header .u-menu-1 {
  margin: -32px 0 26px auto;
}

.u-header .u-nav-1 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-header .u-nav-2 {
  font-size: 1.25rem;
}
@media (max-width: 1199px) {
  .u-header .u-menu-1 {
    width: auto;
    margin-top: -32px;
    margin-right: 0;
  }
}



 .u-footer {
  background-image: none;
}

.u-footer .u-sheet-1 {
  min-height: 120px;
}

.u-footer .u-text-1 {
  width: 417px;
  margin: 49px auto;
}
@media (max-width: 1199px) {
  .u-footer .u-sheet-1 {
    min-height: 99px;
  }
}
@media (max-width: 991px) {
  .u-footer .u-sheet-1 {
    min-height: 76px;
  }
}
@media (max-width: 767px) {
  .u-footer .u-sheet-1 {
    min-height: 57px;
  }
}
@media (max-width: 575px) {
  .u-footer .u-sheet-1 {
    min-height: 36px;
  }

  .u-footer .u-text-1 {
    width: 340px;
  }
}

  
 
 