 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 838px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 1px;
  width: 841px;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 574px;
  grid-gap: 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(138, 193, 197) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(138, 193, 197) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 84px;
  width: 84px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(138, 193, 197) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-icon-5 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(138, 193, 197) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px 2px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-icon-6 {
  height: 84px;
  width: 84px;
  background-image: none;
  color: rgb(138, 193, 197) !important;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  letter-spacing: 0px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 300;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 473px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 815px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}